pre-commit
pytest
pytest-cov
pytest-github-actions-annotate-failures
pydantic
pyyaml
requests
pdfplumber
pytesseract
Pillow
beautifulsoup4
readability-lxml
jsonschema
pykwalify
fastapi
uvicorn

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
langchain
langgraph
langsmith
weaviate-client
googletrans==4.0.0rc1
openai
datasets
transformers
