pre-commit
pytest
pytest-cov
pydantic
pyyaml
requests
pdfplumber
pytesseract
Pillow
beautifulsoup4
readability-lxml
jsonschema
pykwalify

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
langchain
langgraph
langsmith
weaviate-client
googletrans==4.0.0rc1
openai
